{
  "plugins": ["react-native"],
  "extends": "@twostoryrobot/eslint-config/react",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["src/components/TabNavigator.js", "*.stories.js"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
